* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

#navBar {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navBarItem {
    width: 4%;
    height: auto;
    float: right;
    text-align: center;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1900px) {
    #navBarItem {
        display: none;
    }
}

#aboutMe {
    float: left;
    width: 99%;
    height: auto;
    padding: 0.5%;
}

#aboutMePic {
    width: 42%;
    height: auto;
    float: left;
    text-align: right;
}

#aboutMeText {
    width: 53%;
    height: auto;
    float: left;
    margin-top: 30px;
    margin-left: 2%;
}

#name {
    border-bottom: 1px solid black;
    width: 14%;
}

#aboutMeTextContent {
    margin-top: 20px;
}

#aboutMeProfileText {
    font-style: italic;
}

#aboutMeProfileText {
    margin-top: 10px
}

#projectContent {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 150px;
}

#projectsTitle {
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    width: 5.5%;
}

#projectItem {
    width: 30%;
    height: auto;
    margin-top: 15px;
    margin-left: 60px;
    font-size: 20px;
    padding: 20px;
    border-radius: 34px 34px 34px 34px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

#mySkills {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 150px;
}

#skillTitle {
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    width: 4%;
}

#skillDiv {
    width: 20%;
    height: auto;
    float: left;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 20px;
    padding: 20px;
    border-radius: 34px 34px 34px 34px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

#workExperience {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 150px;
}

#workTitle {
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    width: 7%;
}

#workDiv {
    width: 45%;
    height: auto;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 20px;
    padding: 20px;
    border-radius: 34px 34px 34px 34px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

#workPlace {
    margin-bottom: 10px;
}

#schoolAndLang {
    width: 50%;
    height: auto;
    float: left;
}

#schools{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 150px;
    margin-bottom: 50px;
} 

#schoolsTitle {
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    width: 11%;
}

#schoolsContent {
    width: 45%;
    height: auto;
    margin-top: 15px;
    margin-left: 40px;
    padding: 15px;
    border-radius: 34px 34px 34px 34px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

#schoolPlace {
    margin-top: 10px;
}

#schoolYear {
    margin-top: 10px;
}

#languageSkills {
    margin-top: 150px;
    margin-bottom: 50px;
}

#languageTitle {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    width: 14%;
}

#languageDiv {
    width: 70%;
    height: auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 34px 34px 34px 34px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

#information {
    width: 100%;
    height: auto;
    float: left;
    border-top: 2px solid black;
    padding-bottom: 10px;
}

#informationTitle {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
}

#informationItem {
    margin-left: 20px;
}

