* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#navbar-title {
    width: 87%;
    height: auto;
    margin: 1vh;
}

#navbar-link {
    display: flex;
    margin: 1.2vh;
}
