<html>
    <head>
        <script src="https://unpkg.com/vue@2.4.3/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    </head>
    <body>
        <div id="request">
            <input type="text" placeholder="Write movie name..." v-model="reqTitle" v-on:keyup.enter="requestMovieInfo">
            <div class="response">
                <h2> {{ title }}</h2>
                <h3> {{ year }}</h3>
                <p> {{ awards == 'N/A' ? 'No awards :(' : awards}}</p>
                <div v-for="rating in ratings" :key="rating.Source">
                    {{rating.Source}}: {{rating.Value}}
                </div>
            </div>
        </div>
    </body>
    <script lang="javascript">
        var vm = new Vue({
            el: "#request",
            data: {
                reqTitle: null,
                title: null,
                year: null,
                awards: null,
                ratings: null
            }, 

            methods: {
                requestMovieInfo: async function(e) {
                    let response = [];
                    await axios.get(`http://www.omdbapi.com/?t=${this.reqTitle}&apikey=b22fce98`)
                    .then((result) => {
                        response = result.data
                    });
                    console.log(response); 
                    if(response.Response == "False")
                    {
                        this.title = "Sorry, no movie found :(";
                        console.log("Movie not found!!!");
                    } else {
                        this.title = response.Title;
                        this.year = response.Year;
                        this.awards = response.Awards;
                        this.ratings = response.Ratings;
                    }
                },
            },
        })



    </script>
    <style>

    </style>


</html>